body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

#gameCanvas {
    display: block;
    margin: auto;
    background-color: #222;
}

#menu {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

#menu button {
    display: block;
    margin: 5px 0;
}
